<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie Library</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
crossorigin="anonymous">
</head>
<body class="bg-light text-center">

    <div class="container mt-5">
        <h1 class="mb-4" style="color: red;">Sorry, no matches found for the search criteria.</h1>
        <a href="/" class="btn btn-primary btn-lg">Back to Home</a>
    </div>
</body>
</html>