<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin Page</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" 
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
crossorigin="anonymous">
</head>
<body style="text-align: center;">
   <h1 class="mb-4">Movie Admin Page</h1>
   <a href="/addMovie.html" class="btn btn-primary mr-2">Add Movie</a>
   <a href="/notAvailable.html" class="btn btn-secondary">Modify Movie</a>
</body>



</html>